* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

  body {
     background: #000000;
  }

  .header {
      position: fixed;
      top: 0;
      left: 0;
      width: 100%;
      padding: 25px 12.5%;
      background: transparent;
      display: flex;
      justify-content: space-between;
      align-items: center;
      z-index: 100;
  }
  
  .navbar a {
      position: relative;
      font-size: 16px;
      color: #fff;
      text-decoration: none;
      font-weight: 500;
      margin-right: 30px;
  }
  
  .navbar a::after {
      content: '';
      position: absolute;
      left: 0;
      bottom: -6px;
      width: 100%;
      height: 2px;
      background: #fff;
      border-radius: 5px;
      transform: translateY(10px);
      opacity: 0;
      transition: .5s;
  }
  
  .navbar a:hover::after {
      transform: translateY(0);
      opacity: 1;
  }
  
  .background {
      width: 100%;
      height: 100vh;
      background: #00acee;
      background-size: cover;
      background-position: center;
      filter: blur(10px);
  }
  
  .container {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      width: 75%;
      height: 630px;
      border-radius: 10px;
      margin-top: 20px;
  }
  
  .container .content {
      position: absolute;
      top: 0;
      left: 0;
      width: 58%;
      height: 100%;
      background: transparent;
      padding: 80px;
      color: #001a43;
      display: flex;
      justify-content: space-between;
      flex-direction: column;
  }
  
  .content .logo {
      font-size: 30px;
      margin-top: 350px;
  }
  
  .text-sci h2 {
      font-size: 40px;
      line-height: 1;
      color: #fff;
  }
  
  .text-sci h2 span {
      font-size: 25px;
  } 
  
  .text-sci p {
      font-size: 16px;
      margin: 20px 0;
      color: #fff;
  }
  
  .social-icons a ion-icon {
      font-size: 22px;
      color: #fff;
      margin-right: 10px;
      transition: .5s ease;
  }
  
  .social-icons a:hover ion-icon {
      transform: scale(1.2);
  }
  
  .container .logreg-box {
      position: absolute;
      top: 0;
      right: 0;
      width: calc(100% - 58%);
      height: 100%;
      overflow: hidden;
  }
  
  .logreg-box .form-box {
      position: absolute;
      display: flex;
      justify-content: center;
      align-items: center;
      width: 100%;
      height: 100%;
      background: #000000;
      border-color: #fff;
      border-radius: 10px;
      color: #ffffff;
  }
  
  .logreg-box .form-box.login {
      transform: translateX(0);
      transition: transform .6s ease;
      transition-delay: .5s;
  }
  
  .logreg-box.active .form-box.login {
      transform: translateX(500px);
      transition-delay: 0s;
      
  }
  
  .logreg-box .form-box.forgot {
      transform: translateX(500px);
      transition: transform .5s ease;
      transition-delay: 0s;
  }
  
  .logreg-box.active .form-box.forgot {
      transform: translateX(0);
      transition-delay: .5s;
      
  }
  
  .form-box h2 {
      font-size: 32px;
      text-align: center;
  
  }

  .form-box h5 {
      font-size: 12px;
      text-align: center;
  
  }
  
  .form-box .input-box {
      position: relative;
      width: 340px;
      height: 50px;
      border-bottom: 2px solid #fff;
      margin: 30px 0;
  }
  
  .input-box input {
      width: 100%;
      height: 100%;
      background: transparent;
      border: none;
      outline: none;
      font-size: 16px;
      color: #fff;
      font-weight: 500;
      padding-right: 28px;
  }
  
  .input-box .icon {
      position: absolute;
      right: 8px;
      font-size: 1.2em;
      color: #fff;
      line-height: 57px;
  }
  
  .input-box label {
      position: absolute;
      top: 50%;
      left: 5px;
      transform: translateY(-50%);
      font-size: 1em;
      color: #fff;
      font-weight: 500;
      pointer-events: none;
      transition: .5s ease;
  }
  
  .input-box input:focus~label,
  .input-box input:valid~label {
      top: -5px;
      color: #00acee;
  }

  .btn {
      width: 100%;
      height: 45px;
      background: #00acee;
      border: none;
      outline: none;
      border-radius: 20px;
      cursor: pointer;
      font-size: 1em;
      color: #ffffff;
      font-weight: 500;
  
  }      

  form {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 30px;
  }
  
  label {
    font-size: 18px;
    color: #fff;
    margin-bottom: 10px;
  }
  
  input[type="text"] {
    font-size: 16px;
    padding: 10px;
    border-radius: 5px;
    border: none;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
    margin-bottom: 20px;
    width: 100%;
    max-width: 500px;
  }
  
  input[type="submit"] {
    font-size: 16px;
    padding: 10px 20px;
    border-radius: 5px;
    border: none;
    background-color: #333;
    color: #fff;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  input[type="submit"]:hover {
    background-color: #555;
  }
  
  #messages {
    margin-top: 30px;
  }
  
  #messages p {
    font-size: 18px;
    color: #333;
    background-color: #fff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
    margin-bottom: 20px;
  }